{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <!-- <legend class="border-bottom mb-4">Join Today</legend> -->
                <div class="form-group">
                    {{form.username.label(class="form-control-label")}}
                    {% if form.username.errors %}
                        {{form.username(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback"> 
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.username(class="form-control form-control-lg")}}
                    {% endif %}    
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        {{form.ticker1.label(class="form-control-label")}}
                        {{form.ticker1(class="form-control form-control-sm")}}
                    </div> 
                    <div class="form-group col-md-6">
                        {{form.weight1.label(class="form-control-label")}}
                        {{form.weight1(class="form-control form-control-sm")}}
                    </div> 
                </div>  
                <div class="row">
                    <div class="form-group col-md-6">
                        {{form.ticker2.label(class="form-control-label")}}
                        {{form.ticker2(class="form-control form-control-sm")}}
                    </div> 
                    <div class="form-group col-md-6">
                        {{form.weight2.label(class="form-control-label")}}
                        {{form.weight2(class="form-control form-control-sm")}}
                    </div> 
                </div>                             
                <div class="row">
                    <div class="form-group col-md-6">
                        {{form.ticker3.label(class="form-control-label")}}
                        {{form.ticker3(class="form-control form-control-sm")}}
                    </div> 
                    <div class="form-group col-md-6">
                        {{form.weight3.label(class="form-control-label")}}
                        {{form.weight3(class="form-control form-control-sm")}}
                    </div> 
                </div>    
                <div class="row">
                    <div class="form-group col-md-6">
                        {{form.ticker4.label(class="form-control-label")}}
                        {{form.ticker4(class="form-control form-control-sm")}}
                    </div> 
                    <div class="form-group col-md-6">
                        {{form.weight4.label(class="form-control-label")}}
                        {{form.weight4(class="form-control form-control-sm")}}
                    </div> 
                </div>                
                <div class="row">
                    <div class="form-group col-md-6">
                        {{form.ticker5.label(class="form-control-label")}}
                        {{form.ticker5(class="form-control form-control-sm")}}
                    </div> 
                    <div class="form-group col-md-6">
                        {{form.weight5.label(class="form-control-label")}}
                        {{form.weight5(class="form-control form-control-sm")}}
                    </div> 
                </div>                                                                                    
            </fieldset>
            <div class="form-group">
                {{form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>
    <!-- <div class="border-top pt-3">
        <small class="text-muted">
            Already Have an account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div> -->
{% endblock content %}